.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 98vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 1rem;

  color: #ffffff;
  font-family: "Inter", sans-serif;
  text-align: center;

  background-size: 100%;
  background-position: center;
  animation: backgroundMove 150s infinite;
}

@keyframes backgroundMove {
  50% {
    background-size: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.hero h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1.5ch;

  opacity: 0;
  transform: translateY(-30%);
  animation: fadeIn 2s cubic-bezier(0, 1.09, 1, 1) forwards;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero h2 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: 600;

  opacity: 0;
  transform: translateY(-30%);
  animation: fadeIn 2s cubic-bezier(0, 1.09, 1, 1) 500ms forwards;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.pillSec {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  font-size: 0.9rem;

  opacity: 0;
  transform: translateY(-30%);
  animation: fadeIn 2s cubic-bezier(0, 1.09, 1, 1) 1s forwards;
}

@media (max-width: 950px) {
  .hero h1 {
    font-size: 4rem;
  }
  .hero h2 {
    font-size: 2rem;
  }
}

@media (max-width: 775px) {
  .hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 70vh;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .pillSec {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.rightSpot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;

  background-size: cover;
  background-position-y: top;
  animation: bgMoverR 5s cubic-bezier(0.81, 0.02, 0.13, 1) infinite;
}

.leftSpot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;

  background-size: cover;
  background-position-y: bottom;
  animation: bgMoverL 5s cubic-bezier(0.81, 0.02, 0.13, 1) infinite;
}

@keyframes bgMoverR {
  50% {background-position-y: bottom;} 
}

@keyframes bgMoverL {
  50% {background-position-y: top;} 
}
