.pill {
  padding: 5px 20px;
  background-color: #180239;
  border-radius: 100px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.377);

  font-family: 'Inter', sans-serif;
  font-weight: 500;

  box-shadow: inset 0px 0px 4px 2px rgba(168, 128, 255, 0.1);;

  transition: box-shadow 500ms ease-in;
}

.pill:hover {
  box-shadow: inset 0px 0px 50px 10px rgba(255, 255, 255, 0.13);
}